header {
    background-image: url("a-wheat-field-with-cypresses-la4775vgh.jpg");
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    text-decoration: underline;
}

img {
    border: solid black;

}
.center{
    display: block;
    margin-left: auto;
    margin-right:auto;
    width: 50%;
}

body {
    background-color: lightgray;
}
.active {
    background-color: lightgray !important;
}